module.exports = {
  configureWebpack: {
    module: {
      rules: [
        {
          test: /\.sass$/,
          use: [
            // ... (extract text, style, css, postcss etc.)
            { loader: 'sass-loader' },
            { loader: 'webpack-multiline-sass' },
            // After the multiline loader if resources also need collapsing:
            // {loader: 'sass-resources-loader', options: {resources: ...}}
          ]
        }
      ]
    }
  }
}
